@model shopdodadung.Models.Mtopic
@{
    List<SelectListItem> listcat = new List<SelectListItem>();
    List<SelectListItem> listorder = new List<SelectListItem>();
    SelectListItem listitem;
    SelectListItem listitemorder;
    listitem = new SelectListItem() { Value = "0", Text = "[---Chủ đề cha---]" };
    listcat.Add(listitem);
    foreach (var item in ViewBag.list)
    {
        //Parentid
        listitem = new SelectListItem() { Text = item.Name, Value = item.Id.ToString() };
        listcat.Add(listitem);
        //Orders
        listitemorder = new SelectListItem() { Text = "Sau: " + item.Name, Value = (item.Orders + 1).ToString() };
        listorder.Add(listitemorder);
    }
}
@{
    ViewBag.Title = "Cập nhập đề tài bài viết";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-7">
                    <strong class="text-danger text-uppercase">
                        Cập nhập đề tài bài viết
                    </strong>
                </div>
                <div class="col-md-5 text-right">
                    <button type="submit" class="btn btn-sm btn-success"><i class="fas fa-save"></i>Lưu[Cập nhập]</button>
                    <a href="~/admin/topic" class="btn btn-sm btn-danger"><i class="fas fa-times"></i>Thoát</a>
                </div>
            </div>
        </div>
        <div class="card-body p-2">
            @Html.Partial("_MessageAlert")
            <div class="row">
                <div class="col-md-9">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.Id)
                    <div class="form-group">
                        <label>Tên đề tài bài viết</label>
                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <label>Từ khóa (SEO)</label>
                        @Html.TextAreaFor(model => model.MetaKey, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MetaKey, "", new { @class = "text-danger" })

                    </div>

                    <div class="form-group">
                        <label>Mô tả (SEO)</label>
                        @Html.TextAreaFor(model => model.MetaDesc, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.MetaDesc, "", new { @class = "text-danger" })

                    </div>

                </div>
                <div class="col-md-3">
                    <div class="form-group">
                        <label>Cấp cha</label>
                        @Html.DropDownListFor(model => model.ParentId, listcat, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ParentId, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group">
                        <label>Thứ tự</label>
                        @Html.DropDownListFor(model => model.Orders, listorder, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Orders, "", new { @class = "text-danger" })

                    </div>
                    <div class="form-group">
                        <label>Trạng thái</label>
                        @Html.DropDownListFor(model => model.Status, new[] { new SelectListItem { Value = "1", Text = "Xuất bản" }, new SelectListItem { Value = "2", Text = "Chưa xuất bản" } }, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                    </div>

                </div>
            </div>
        </div>
    </div>
}
