@model IEnumerable<shopdodadung.Models.Mproduct>

@{
    ViewBag.Title = "Quản lý thùng rác sản phẩm";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="card">
    <div class="card-header">
        <div class="row">
            <div class="col-md-7">
                <strong class="text-danger text-uppercase">
                    Quản lý thùng rác sản phẩm
                </strong>
            </div>
            <div class="col-md-5 text-right">
                <a href="~/admin/product" class="btn btn-sm btn-danger"><i class="fas fa-times"></i>Thoát</a>
            </div>
        </div>
    </div>
    <div class="card-body p-2">
        @Html.Partial("_MessageAlert")
        <table class="table table-bordered table-hover">
            <tr>
                <th style="width:70px;">Hình</th>
                <th>Tên sản phẩm</th>
                <th>Loại sản phẩm</th>
                <th>ngày tạo</th>
                <th>Chức năng</th>
                <th>ID</th>
            </tr>

            @foreach (var item in Model)
            {
        <tr>
            <td>
                <img src="~/Images/slider/@item.Img" class="img-fluid" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.Action("CategoryName", "Product", new { @catid = item.CatId })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created_at)
            </td>
            <td>

                <a href="@Url.Action("Retrash", "Product", new { id = item.Id })" class="btn btn-sm btn-info">
                    <i class="fas fa-undo-alt"></i>Khôi phục
                </a>
                <a href="@Url.Action("Delete", "Product", new { id = item.Id })" class="btn btn-sm btn-danger">
                    <i class="fas fa-trash"></i>Xóa
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
        </tr>
            }

        </table>
    </div>
</div>


